.App {
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
} */

nav {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center; /* aligned title vertically if flex-direction is Row */
  justify-content: center; /* aligned title horizontally if flex-direction is Row */
  font-size: calc(30px + 2vmin);
  color: rgb(203, 239, 250);
  font-family: 'Petit Formal Script', cursive;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center; /* aligned items horizontally if flex-direction is Column */
  justify-content: center;
  /* font-variant-caps: all-small-caps; */
  font-size: calc(12px + 2vmin);
  letter-spacing: 1px;
  font-weight: 100;
  color: rgb(203, 239, 250);
}

.App-link {
  color: #09d3ac;
}

.currentWeatherWrapper {
  background-color: #282c34;
  min-height: 65vh;
  display: flex;
  flex-direction: row;
  align-items: center; /* aligned items horizontally if flex-direction is Column */
  justify-content: center;
  font-size: calc(20px + 2vmin);
  font-weight: 100;
  color: rgb(203, 239, 250);
}

.currentWeather {
  text-align: left;
  font-size: calc(20px + 2vmin);
  padding-left: 1em;
}

.currentWeatherDescription {
  /* font-size: calc(40px + 2vmin); */
  font-weight: 200;
  font-variant-caps: all-small-caps;
}

.currentTemp {
  font-size: calc(150px + 2vmin);
}

.degreesFarenheit {
  font-size: calc(18px + 2vmin);
}

.currentWeatherBackgroundImage {
  /* background-image: url("./images/RainyDay.jpg"); */
  /* height: 660px;  */
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #2d2d2e;
  background-blend-mode: overlay;
}

.currentWeatherBackgroundImage::after {
  background-color: #333436;
  z-index: -1;
}


/* FutureWeather styles */
/* .futureWeatherContainer {
  display: grid;
  grid-template-columns: 40px 50px auto 50px 40px;
  grid-template-rows: 25% 100px auto;
} */

.futureWeatherWrapper {
  display: grid;
  grid-template-columns: 10% auto auto auto 10%;
  grid-template-rows: 15% 5% auto auto 30%;
  background-color: #282c34;
  min-height: 65vh;
  /* display: flex;
  flex-direction: row; */
  align-items: center; /* aligned items horizontally if flex-direction is Column */
  justify-content: center;
  font-size: calc(20px + 2vmin);
  font-weight: 100;
  color: rgb(203, 239, 250);
}

.futureWeather {
  text-align: left;
  font-size: calc(20px + 2vmin);
  padding-left: 1em;
}

.futureWeatherHeader {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  font-size: calc(20px + 2vmin);
  font-weight: 100;
  font-variant-caps: all-small-caps;
  /* font-size: calc(30px + 2vmin); */
  color: rgb(203, 239, 250);
  /* font-family: 'Petit Formal Script', cursive; */
}

.futureWeatherHigh {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
  text-align: left;
  font-size: calc(40px + 6vmin);
  padding-left: 1em;
}

.futureWeatherLow {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
  text-align: left;
  font-size: calc(40px + 6vmin);
  padding-left: 1em;
}

.futureWeatherDetails {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 5;
  text-align: left;
  font-size: calc(30px + 2vmin);
  padding-left: 1em;
}

.futureWeatherDescription {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
  font-size: calc(40px + 2vmin);
  font-weight: 200;
  font-variant-caps: all-small-caps;
}

.futureTemp {
  font-size: calc(60px + 2vmin);
}

.degreesFarenheit {
  font-size: calc(18px + 2vmin);
}

.futureWeatherBackgroundImage {
  /* background-image: url("./images/RainyDay.jpg"); */
  /* height: 660px;  */
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #2d2d2e;
  background-blend-mode: overlay;
}

.futureWeatherBackgroundImage::after {
  background-color: #333436;
  z-index: -1;
}

/* .futureForecastWrapper {
  background-color: #282c34;
  min-height: 20vh;
  min-width: 100%;
  display: flex;
  flex-direction: row; */
  /* aligned items horizontally if flex-direction is Column */
  /* align-items: center; 
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-weight: 100;
  color: rgb(203, 239, 250);
}

.futureForecast span {
  margin: 5px;
} */