.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

nav {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center; /* aligned title vertically if flex-direction is Row */
  justify-content: center; /* aligned title horizontally if flex-direction is Row */
  font-size: calc(18px + 2vmin);
  color: rgb(203, 239, 250);
  font-family: 'Petit Formal Script', cursive;
}

.App-header {
  background-color: #282c34;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center; /* aligned items horizontally if flex-direction is Column */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  font-weight: 100;
  color: rgb(203, 239, 250);
}

.App-link {
  color: #09d3ac;
}
